.edi-excel-generator {

  :global .generator-form {
	padding: 15px 0;
  }

  :global .ant-input-number {
	width: 100%;
  }

  :global .ant-form-item {
	margin-bottom: 10px;
  }

  :global .ant-form-item-label {
	label {
	  font-size: 13px;
	}
  }
}
