$font-color: #cdd2d4;

.header {
  background: #242424;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 20;

  h1 {
    flex: 1;
    margin-bottom: 0;
    text-align: left;

    a {
      color: $font-color;

      &:hover {
        color: darken($font-color, 20%);
      }
    }
  }

  :global .actions {
    flex: 1;
    text-align: right;

    a {
      color: $font-color;
      padding: 24px 10px;

      &:hover {
        color: #242424;
        background-color: $font-color;
      }
    }
  }
}
