.header {
  background: #242424;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 20;

  h1 {
    margin-bottom: 0;

    a {
      color: #CDD2D4;

      &:hover {
        color: darken(#CDD2D4, 20%);
      }
    }
  }
}
